<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<script src="node_modules/_vue@2.5.22@vue/dist/vue.js"></script>
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<input class="new-todo" :placeholder="msg" v-model="inpval" autofocus @keyup.enter="addTask">
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
					<li :class="[item.status ? 'completed' : '',item.dbclick?'editing':'']" v-for="item in activeArr"  >
						<div class="view">
							<input class="toggle" type="checkbox" :checked="item.status" @click="item.status = !item.status">
							<label  @dblclick="item.dbclick = !item.dbclick">{{ item.task }}</label>
							<button class="destroy" @click="delTask(item.id)"></button>
						</div>
						<input class="edit" autofocus v-model="item.task" @blur.prevent="item.dbclick = !item.dbclick">
					</li>
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{ noDoneNum }}</strong> item left</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a class="selected" href="#/" @click.prevent="getfilter(all)"   v-text="all">All</a>
					</li>
					<li>
						<a href="#" @click.prevent="getfilter(active)" v-text="active"></a>
					</li>
					<li>
						<a href="#" @click.prevent="getfilter(completed)" v-text="completed"></a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" @click="clearAllcom">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="js/app.js"></script>
		<script src="./js/index.js"></script>
	</body>
</html>
